/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */

.sign-in-group {
    display: flex;
    background: var(--src) undefined undefined/100% 100% undefined;
    background-color: white;
}

.sign-in-group.layout {
    position: relative;
    overflow: hidden;
    min-height: 1024px;
    flex-grow: 1;
}

.sign-in-flex {
    display: flex;
    background-color: white;
    box-shadow: 0px 10px 20px 20px rgba(141, 135, 135, 0.25098);
    border-width: 0px;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 99999px) {
    .sign-in-flex {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

.sign-in-flex-item {
    display: flex;
    position: relative;
    flex: 0 1 281px;
    flex-direction: column;
}

@media (max-width: 99999px) {
    .sign-in-flex-item {
        flex: 0 0 50%;
    }
}

@media (max-width: 1199.98px) {
    .sign-in-flex-item {
        flex: 0 0 100%;
    }
}

.sign-in-flex1 {
    display: flex;
    flex-direction: column;
}

.sign-in-flex1.layout {
    position: relative;
    /*width: -webkit-fit-content;*/
    /*width: -moz-fit-content;*/
    width: fit-content;
    margin: 114px auto 109px;
}

.sign-in-big-title {
    display: flex;
    justify-content: flex-end;
    font: 800 30px/0.36 "Roboto", Helvetica, Arial, serif;
    color: black;
    text-align: right;
    letter-spacing: 0px;
}

.sign-in-big-title.layout {
    margin: 0px 36px;
}

.sign-in-box2 {
    background-color: #f0f0f000;
}

.sign-in-box2.layout {
    height: 29px;
    margin: 43px 0px 0px;
}

.sign-in-box2.layout1 {
    height: 29px;
    margin: 19px 0px 0px;
}

.sign-in-box3 {
    background-color: #c5c5c5;
    border-radius: 12px 12px 12px 12px;
}

.sign-in-box3.layout {
    height: 45px;
    margin: 19px 33px 0px;
}

.sign-in-flex-item1 {
    display: flex;
    position: relative;
    flex: 0 1 285px;
}

@media (max-width: 99999px) {
    .sign-in-flex-item1 {
        flex: 0 0 50%;
    }
}

@media (max-width: 1199.98px) {
    .sign-in-flex-item1 {
        display: none;
        flex: 0 0 100%;
    }
}

.sign-in-content-box {
    display: flex;
    flex-direction: column;
    background-color: #111331;
    border-radius: 0;
}

.sign-in-content-box.layout {
    position: relative;
    min-height: 437px;
    flex-grow: 1;
    margin: 0px 0px 0px;
}

.sign-in-big-title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 30px/0.36 "Risque", Helvetica, Arial, serif;
    color: white;
    text-align: center;
    letter-spacing: 0px;
}

.sign-in-big-title1.layout {
    min-height: 11px;
    width: 83.1%;
    margin: auto auto 20px;
}

.sign-in-highlights {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 18px/1 "Risque", Helvetica, Arial, serif;
    color: white;
    text-align: center;
    letter-spacing: 0px;
}

.sign-in-highlights.layout {
    height: 12px;
    width: 91.55%;
    margin: 20px auto auto;
}

.input-text {
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.input-text:focus {
    border: none;
    outline: none;
}

#sign-in-btn {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border: none;
    background-color: #f76d38;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.sign-in-box4.layout {
    text-align: center;
    margin-bottom: 15px;
}

#login {
    font-size: 12px;
}

#home {
    border: 1px solid #d3d3d3;
    padding: 5px 12px;
    /* border-radius: 5px; */
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 15%;
    cursor: pointer;
}